#title
{
  background-color:  #ff4c68;
  color: #fff;
}
.h1
{
  font-family: 'Montserrat' Black;
  font-size: 3rem;
  line-height: 1.5;
}
h2
{
  font-weight: bold;
}


.container-fluid

{
  padding: 3% 15%;
}

body{
  font-family: "Montserrat";
}

/* NAvigation bar */
.navbar
{
  padding: 0 0 4.5rem;
}
.navbar-brand
{
  ;
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;

}
.nav-item
{
  padding: 0 15px;
}
.nav-link
{
  font-size: 1.5rem;
  font-family: "Montserrat";
}
.booknow-btm
{
margin:5% 3% 5% 0;
color:  #fff;
}

/* image */
.title-image
{
  width: 60%;
  transform: rotate(25deg);
}


/* features  */
#features
{
  padding: 7% 15%;
}
.features-box
{
  text-align: center;
  padding: 4%;
}
.features-box-tittle
{
  font-family: "Montserrat-bold";
}
.features-box-text
{
  color: #8f8f8f;
}
.icon
{
  color: #ef8172;
  margin-bottom: 2%;
}
.icon:hover
{
  color: #ff4c68;
}


/* testimonials section */

#testimonials
{

  text-align: center;
  background-color:#ef8172;
  color: #fff;
}
.carousel-item
{
  padding: 7% 15%;

}
.testimonials-text
{
  font-family: "Montserrat";
  line-height: 1.5;
  font-size: 3rem;
}
.testimonials-image
{
  width: 10%;
  border-radius: 100%;
  margin-right: 20px;
}

/* press-section */
#press
{
  text-align: center;
  background-color:#ef8172;
  padding: 3%;
}
.press-image
{
  width: 10%;
  margin: 20px 20px  30px;
}
